* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    color: white;
}

.cabecalho {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    height: 190px;
    border-bottom: 2px solid white;
}

.logo {
    position: absolute;
    left: 4rem;
}

.logo img {
    width: 190px;
    height: auto;
}

.titulo {
    text-align: center;

}

.titulo h1 {
    font-family: "Metal Mania", system-ui;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 50px;
}

.logorockstar {
    position: absolute;
    right: 4rem;
    margin-top: 50px;
    transform: translateY(-50%);
}

.logorockstar img {
    width: 60px;
    height: auto;
}

.galeria-personagens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(px, 1fr));
    gap: 80px;
    padding: 70px 20px;
    justify-content: center;

}

.personagens {
    text-align: center;
    max-width: 65rem;
}

.personagens img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border: 3px solid transparent;
}

.personagens img:hover {
    border: 3px solid white;
}

.personagens p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
    max-width: 450px;
    text-align: center;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}

.personagens p:hover {
    color: red;
}

.personagens p::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    border-bottom: 2px solid red;
    margin: 5px auto 0 auto;
}


@media (max-width: 1035px) {
    .logo {
        display: none;
    }
}

@media (max-width: 820px) {
    .logorockstar {
        display: none;
    }
}


.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
     transform: translateX(0);
}